@import "tailwindcss";
@import "tw-animate-css";


:root {

}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {

}

@layer base {
  * {

  }

  html {
    direction: rtl;
  }

  body {
    direction: rtl;
  }
}
